h1 {
  color: white;
  text-shadow: -1px -1px 0 grey, 1px -1px 0 grey, -1px 1px 0 grey, 1px 1px 0 grey;
}

h1 .o {
  background-image: radial-gradient(yellow, rgba(0,0,0,0), rgba(0,0,0,0));
}

.Board {
  margin: 0 auto;
}