.Cell {
  height: 100px;
  width: 100px;
  padding: 20px;
  margin: 20px;
  cursor: pointer;
  border-radius: 5px;
  background-image: radial-gradient(grey, black, black);
}

.Cell-lit {
  background-image: radial-gradient(white, yellow, black, black);
}